<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n"/>
		</Console>
		<File name="File" fileName="NewTesterLog">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n"/>
		</File>
		<RollingFile name = "RollingFile" fileName="logs/hcd.log" filePattern = "logs/hcd_%d{yyMMdd}_%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n"/>	
			<Policies>
				<TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
				<SizeBasedTriggeringPolicy/>
			</Policies>	
		</RollingFile>
	</appenders>
	<loggers>
		<root level="all">
			<appender-ref ref="Console"/>
		</root>
		<Logger name = "NewCommander" level = "all" additivity = "false">
			<appender-ref ref = "Console"/>
			<appender-ref ref = "RollingFile"/>
		</Logger>
	</loggers>
</configuration>
